.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
  padding: 24px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  font-family: Kadwa, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  color: #3e2c14;
}
