.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 16px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid #f6eede;
  margin-bottom: 12px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.reviewBtn {
  background-color: #3f2e1b;
  color: white;
}

.actionGroup {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.approveBtn {
  background-color: green;
  color: white;
}

.rejectBtn {
  background-color: rgb(190, 10, 10);
  color: white;
}
