.back-button {
  background-color: #3e2b18;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button:hover {
  background-color: #3e2b18;
  transform: scale(1.1);
}

  