.sidebar-info {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    color:black;
  }
  


/* Responsive Flex Utility */

@media (max-width: 375px) {
  .flex-responsive {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
}
