.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logoWrapper {
  width: clamp(100px, 20vw, 248px);
  height: clamp(100px, 20vw, 248px);
  margin-top: 2vh;
}

.logoImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (width <= 640px) {
  .logoWrapper {
    width: clamp(80px, 15vw, 180px);
    height: clamp(80px, 15vw, 180px);
  }
}
