.pageContainer {
  background-color: #f6ebd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

.welcomeHeading {
  color: #3e2c14;
  margin-top: 2vh;
  font-family: Kadwa, serif;
  font-size: clamp(2rem, 10vw, 6rem);
  font-weight: 700;
  text-align: center;
}

@media (width <= 991px) {
  .pageContainer {
    max-width: 991px;
  }

  .welcomeHeading {
    font-size: clamp(2rem, 8vw, 5rem);
  }
}

@media (width <= 640px) {
  .pageContainer {
    max-width: 640px;
  }

  .welcomeHeading {
    font-size: clamp(1.5rem, 6vw, 4rem);
  }
}
@media (width <= 480px) {
  .pageContainer {
    padding: 24px 12px;
  }

  .welcomeHeading {
    padding: 0 10px;
  }
}

