.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
  }
  
  @media (max-width: 640px) {
    .footer {
      justify-content: center;
    }
  }
  
  .button {
    margin: 0;                  /* reset default button margins */
    padding: 1.5px 4px;
    border: none;               /* remove default border */
    border-radius: 40px;
    background-color: #3e2c14;
    color: #fff;
    letter-spacing: 3.2px;
    font-family: 'Kadwa', serif;
    font-size: 32px;
    cursor: pointer;            /* indicate it’s clickable */
  }
  