.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 120px;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.input {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;

  /* Remove spinner buttons */
  -moz-appearance: textfield;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
