.header {
  background-color: #efe2cc;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding-top: 150px; /* push below fixed navbar */
  z-index: 999; /* still sits above normal content */
}


.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.logoImage {
  height: 80px;
}

.shopDetails {
  text-align: center;
  margin-top: 0.5rem;
}

.shopName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3e2c14;
}

.sellerName {
  font-size: 0.95rem;
  color: #5f4a2d;
}
